.testing {
  background-color: #9561e2;
}

.testing > ul {
  background-color: #6574cd;
  width: 20%;
}

.testing li {
  float: left;
  width: 14%;
}

.user-dropdown {
  position: absolute;
  min-width: 135px;
  z-index: 99;
  left: auto;
  right: 0;
  opacity: 0;
  padding: 0 20px;
  text-align: left;
  background-color: #fff;
  visibility: hidden;
}

.user-dropdown ul li {
  list-style: none;
  display: block;
}

.user-dropdown ul li a {
  padding: 10px 0;
  color: gray;
  width: 100%;
  clear: both;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  padding: 10px 0;
  line-height: 25px;
  font-size: 13px;
}

.user-dropdown ul li:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.header-search form .search-btn {
  width: 45px;
  background: #FFC312;
  color: #000000;
}

.dropdown.open > .user-dropdown {
  opacity: 1;
  visibility: visible;
}

.header-ctn > div > a > .qty {
  background-color: #FFC312;
  color: #000000;
}

.header-links li i {
  color: #FFC312;
}

.aside .price-desc {
  color: gray;
  font-size: 12px;
  padding: 4px 30px;
}

.tab-content table {
  width: 70%;
}

.tab-content table tr td {
  color: gray;
  font-size: 12px;
  padding: 4px 0;
}

.tab-content table tr > td:first-child {
  width: 35%;
  padding-left: 12px;
}

.product-details .product-options .input-select {
  width: 120px;
}

.login,
#password-modal {
  margin-top: auto;
  margin-bottom: auto;
}

.login .card-header h3,
#password-modal .card-header h3 {
  color: #fff;
}

.login .input-group,
#password-modal .input-group {
  width: 100%;
  margin-bottom: 5px;
}

.login .input-group-addon,
#password-modal .input-group-addon {
  width: 50px;
  background-color: #000000;
  color: #fff;
  border: 0 !important;
}

.login input:focus,
#password-modal input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login .login_btn,
#password-modal .login_btn {
  color: #fff;
  background-color: #000000;
  display: inline-block;
}

.login .login_btn:hover,
#password-modal .login_btn:hover {
  color: #000000;
  background-color: #FFC312;
}

.login .links,
#password-modal .links {
  color: white;
}

.login .links a,
#password-modal .links a {
  margin-left: 4px;
}

.login .help-block,
#password-modal .help-block {
  color: red;
  font-style: italic;
}

#password-modal .modal-header {
  background: #FBFBFC;
}

.daftar .help-block {
  color: red;
  font-style: italic;
}

.custom-input {
  margin-bottom: 5px;
}

.custom-input span {
  float: left;
  height: 34px;
}

.custom-input span i {
  line-height: 1.8;
}

.custom-input select,
.custom-input input {
  border-radius: 0px 5px 5px 0;
  width: 50%;
}

.shop:before,
.shop:after {
  background: #32419a;
}

.shop .shop-body .cta-btn {
  color: #FFC312;
}

.main-nav > li > a:hover,
.main-nav > li > a:focus,
.main-nav > li.active > a {
  color: #32419a;
}

.main-nav > li > a:after {
  background-color: #FFC312;
}

#navigation {
  border-top: 3px solid #FFC312;
}

#top-header,
#header {
  background-color: #32419a;
}

.header-links li a:hover {
  color: #FFC312;
}

.section-tab-nav li.active a {
  color: #32419a;
}

.section-tab-nav li a:after {
  background-color: #FFC312;
}

.product .product-img .product-label > span.new {
  background-color: #32419a;
  border-color: #32419a;
  color: #FFC312;
}

.product .product-img .product-label > span.sale {
  background-color: #fff;
  border-color: #6574cd;
  color: #000000;
  margin-right: 3px;
}

.product .product-body .product-price {
  color: #32419a;
  font-size: 15px;
}

.product .product-body .product-rating > i.fa-star {
  color: #32419a;
}

.product .product-body .product-price .product-old-price {
  color: gray;
}

#hot-deal.section {
  background-color: #32419a;
}

.primary-btn {
  background-color: #32419a;
  color: #FFC312;
}

.hot-deal p {
  color: #32419a;
}

.product-widget .product-body .product-price {
  color: #32419a;
}

.product-widget .product-body .product-price .product-old-price {
  color: #FFC312;
}

#footer {
  background: #32419a;
}

.footer-links li i {
  color: #FFC312;
}

#bottom-footer {
  background: #FFC312;
}

.copyright {
  color: #000000;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #32419a;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #32419a;
  border-color: #32419a;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  color: #FFC312;
}

.product .add-to-cart .add-to-cart-btn {
  background-color: #32419a;
  color: #FFC312;
}

.noUi-connect {
  background-color: #32419a;
}

.noUi-horizontal .noUi-handle {
  background: #FFC312;
}

.store-pagination li.active {
  background-color: #32419a;
  border-color: #32419a;
}

.product-details .product-price {
  color: #32419a;
}

.product-details .product-available {
  color: #32419a;
}

#product-imgs .product-preview.slick-current {
  border-color: #32419a;
}

.product-details .add-to-cart .add-to-cart-btn > i {
  color: #FFC312;
}

.product-details .add-to-cart .add-to-cart-btn {
  background-color: #32419a;
  color: #FFC312;
}

#product-tab .tab-nav li.active a {
  color: #32419a;
}

#product-tab .tab-nav li a:after {
  background-color: #FFC312;
}

.product:hover .add-to-cart {
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #32419a;
  padding: 8px 0;
}

.product .product-body .product-name > a:hover,
.product .product-body .product-name > a:focus {
  color: #32419a;
}

.input-radio input[type=radio]:checked + label span,
.input-checkbox input[type=checkbox]:checked + label span {
  background-color: #32419a;
  border-color: #32419a;
}

.order-summary .order-col .order-total {
  color: #32419a;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  color: #FFC312;
  background-color: #32419a;
}

.product .add-to-cart {
  padding: 8px 10px;
}

.product .add-to-cart .add-to-cart-btn:hover,
.product-details .add-to-cart .add-to-cart-btn:hover {
  padding: 0 30px;
}

.store-filter {
  margin-top: 50px;
  float: right;
}

.cart-dropdown .cart-btns > a:first-child {
  width: 100%;
  color: #FFC312;
  background-color: #32419a;
}

.qty-label > input {
  height: 40px;
  padding: 0 7px;
  margin-left: 7px;
}

.product-details .product-unavailable {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
  color: #D10024;
}

.order-summary .order-col .order-total {
  font-size: 14px;
}

#estimasi,
#shipping {
  font-weight: bold;
}

.order-details .order-submit {
  width: 100%;
}

.order-details {
  margin-bottom: 26px;
}

.cekout .help-block {
  color: red;
  font-style: italic;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.livesupport-btn {
  position: fixed;
  right: 86px;
  bottom: 0;
}

.livesupport-btn a {
  width: 200px;
  background-color: #1f5f3a;
  border: solid 1px #FFC312;
  font-weight: bold;
  display: none;
  color: white;
  text-decoration: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px 0px 0px 11px;
}

.livesupport-btna:hover {
  background-color: #6A9600;
  color: #fff;
}

.livechatbanner .livesupportclose {
  position: absolute;
  right: 0;
  top: -15px;
  color: #b0b0b0 !important;
  background-color: transparent !important;
  display: block;
  border: none;
  width: 10px;
}

.livechatbanner .livesupportclose .fa-times {
  color: black;
  border: 1px solid black;
}

.livechatbanner {
  background-image: url(/web/img/girlchat-btn.png);
  width: 220px;
  height: 192px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}

.livechatbanner .bubblespeech a {
  margin: 4px 7px 0 0;
  background-color: transparent;
  opacity: 0.1;
  border: none;
  height: 190px;
  display: block;
  width: 215px;
}

#chatbox {
  display: none;
}

#chatbox .col-md-2,
#chatbox .col-md-10 {
  padding: 0;
}

#chatbox .panel {
  margin-bottom: 0px;
}

#chatbox .btn-sm {
  background-color: yellow;
  color: #000000;
  font-weight: bold;
}

#chatbox .chat-window {
  bottom: 0;
  right: 0;
  position: fixed;
  float: right;
}

#chatbox .chat-window > div > .panel {
  border-radius: 5px 5px 0 0;
}

#chatbox .icon_minim {
  padding: 2px 10px;
}

#chatbox .msg_container_base {
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height: 300px;
  overflow-x: hidden;
}

#chatbox .top-bar {
  background: #32419a;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

#chatbox .msg_receive {
  padding-left: 0;
  margin-left: 0;
}

#chatbox .msg_sent {
  padding-bottom: 20px !important;
  margin-right: 0;
}

#chatbox .messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

#chatbox .messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}

#chatbox .messages > time {
  font-size: 11px;
  color: #ccc;
}

#chatbox .msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}

#chatbox .chatimg {
  display: block;
  width: 100%;
}

#chatbox .avatar {
  position: relative;
}

#chatbox .base_receive > .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #FFF;
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}

#chatbox .base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}

#chatbox .base_sent > .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#chatbox .fa-window-minimize,
#chatbox .fa-window-close,
#chatbox .fa-plus {
  color: white;
  margin: 0 5px;
}

#chatbox .msg_sent > time {
  float: right;
}

#chatbox .msg_container_base::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#chatbox .msg_container_base::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#chatbox .msg_container_base::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#chatbox .btn-group.dropup {
  position: fixed;
  left: 0px;
  bottom: 0;
}

#chatbox .panel-footer {
  padding: 10px 15px;
  background-color: #32419a;
  border: 2px solid #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

