.sb-sidenav-menu-heading:first-child {
  border-top: 1px solid;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding-bottom: 2px;
}

.bg-primary {
  background-color: #32419a !important;
}

.sb-sidenav-primary {
  background-color: #32419a;
  color: #fff;
}

a {
  color: #fff;
}

a:hover {
  color: #FFC312;
}

.navbar-dark .navbar-brand:hover {
  color: #FFC312;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFC312;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-width: 0;
}

.dropdown-menu .show {
  padding: 0 20px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #FFC312;
}

svg {
  color: #FFC312;
  margin-right: 5px;
}

#datatable th,
#datatable td {
  padding: 0 5px;
}

.modal-header,
.modal-footer {
  background-color: #32419a;
  color: white;
}

.close > span {
  color: #fff;
}

.btn {
  border-radius: 0px;
}

.master-show td {
  padding: 0 5px;
}

.master-show img {
  padding: 11px 7px;
  width: 40%;
  border: 2px solid gray;
}

.master-show .gambar td:first-child,
.master-show .gambar td:nth-child(2) {
  vertical-align: middle;
}

.text-primary {
  color: #32419a !important;
}

.table-user td:nth-child(3),
.table-user td:nth-child(5) {
  white-space: nowrap;
}

.table-user td:nth-child(3) {
  min-width: 150px;
}

.table-user td:nth-child(4) {
  min-width: 150px;
}

.table-kategori-produk td,
.table-merek td {
  vertical-align: middle;
}

.table-kategori-produk th:nth-child(2),
.table-merek th:nth-child(2) {
  text-align: center;
}

.table-kategori-produk td:nth-child(2),
.table-merek td:nth-child(2) {
  text-align: center;
}

.table-kategori-produk td:nth-child(2) img,
.table-merek td:nth-child(2) img {
  max-width: 126px;
  max-height: 90px;
  margin: 0 auto;
  padding: 10px 0;
}

.table-kategori-produk td:nth-child(3),
.table-kategori-produk td:nth-child(4),
.table-merek td:nth-child(3),
.table-merek td:nth-child(4) {
  white-space: nowrap;
}

.table-produk td {
  vertical-align: middle;
}

.table-produk th:nth-child(2) {
  text-align: center;
}

.table-produk td:nth-child(2) {
  text-align: center;
}

.table-produk td:nth-child(2) img {
  max-width: 126px;
  max-height: 90px;
  margin: 0 auto;
}

.table-produk th:nth-child(8),
.table-produk th:nth-child(9),
.table-produk td:nth-child(8),
.table-produk td:nth-child(9),
.table-produk td:nth-child(12) {
  white-space: nowrap;
}

.info input[type=text],
.info textarea {
  margin-bottom: 7px;
}

.info img {
  border: 2px solid gray;
  width: 100%;
  margin: 2px 0;
}

#data_gambar {
  width: 100%;
  border: 2px solid gray;
}

.form-control,
.form-control-sm {
  height: auto;
}

