// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FFC312;
$green: #1f5f3a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$gray: gray;
$dark: #000000;
$bootstrap-green: #28a745;

//custom color
$lightSkyBlue: #87CEFA;

