@import "_variables";
@import "_mixins";


.sb-sidenav-menu-heading:first-child {
    border-top: 1px solid;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link { 
    padding-top:0px;
    padding-bottom:0px;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding-bottom:2px;
}

.bg-primary {
    background-color:darken($indigo, 20%) !important;
}

.sb-sidenav-primary {
    background-color:darken($indigo, 20%);
    color: $white;
}

a {
    color:$white;

    &:hover {
        color:$yellow;
    }
}

.navbar-dark .navbar-brand {
    &:hover {
        color:$yellow;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
    &:hover {
        color:$yellow;
    }
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border-radius:0;
    min-width:0;
    .show {
        padding: 0 20px;
    }
}

.dropdown-item:hover, .dropdown-item:focus {
    color:$yellow;
}

svg {
    color: $yellow;
    margin-right: 5px;
}

#datatable {
    th, td {
        padding:0 5px;
    }
}


.modal-header, .modal-footer {
    background-color:darken($indigo, 20%);
    color:white;
}

.close > span {
    color: $white;
}

.btn {
    border-radius:0px;
}

.master-show {
    td{
        padding: 0 5px;
    }

    img {
        padding: 11px 7px;
        width: 40%;
        border: 2px solid $gray;
    }

    .gambar {
            td:first-child, td:nth-child(2) {
                vertical-align: middle;
            }
    }
}

.text-primary {
    color: darken($indigo, 20%)!important;
}


.table-user {
    td:nth-child(3), td:nth-child(5) {
        white-space: nowrap;
    }

    td:nth-child(3) {
        min-width:150px;
    }

    td:nth-child(4) {
        min-width:150px;
    }
}

.table-kategori-produk, .table-merek {
    td {
        vertical-align: middle;
    }

    th:nth-child(2)
    {
        text-align: center;
    }

    td:nth-child(2) {
        text-align: center;

        img {
            max-width: 126px;
            max-height:90px;
            margin:0 auto;
            padding:10px 0;
        }
    }

    td:nth-child(3), td:nth-child(4) {
        white-space: nowrap;
    }
}

.table-produk {
    td {
        vertical-align: middle;
    }

    th:nth-child(2)
    {
        text-align: center;
    }

    td:nth-child(2) {
        text-align: center;

        img {
            max-width: 126px;
            max-height:90px;
            margin:0 auto;
        }
    }

    th:nth-child(8), th:nth-child(9), td:nth-child(8), td:nth-child(9), td:nth-child(12) {
        white-space: nowrap;
    }
}

.info {
    input[type=text], textarea {
        margin-bottom:7px;
    }

    img {
        border: 2px solid $gray;
        width:100%;
        margin:2px 0;
    }
}

#data_gambar {
    width:100%;
    border: 2px solid $gray;
}

.form-control, .form-control-sm {
    height:auto;
}