@import "_variables";
@import "_mixins";

.testing {
    background-color: $purple;
    & > ul {
        background-color: $indigo;
        width: 20%;
    }

    li {
        float:left;
        width:14%;
    }
}

.user-dropdown {
    position: absolute;
    min-width: 135px;
    z-index: 99;
    left:auto;
    right: 0;
    opacity: 0;
    padding: 0 20px;
    text-align:left;
    background-color: $white;
    visibility: hidden;
    ul{
        li {
            list-style: none;
            display:block;
            a {
                padding:10px 0;
                color: $gray;
                width:100%;
                clear:both;
                white-space: nowrap;
                background: 0 0;
                border: 0;
                padding: 10px 0;
                line-height: 25px;
                font-size:13px;
            }
        }
        li:not(:last-child) {
            border-bottom: 1px solid lighten($color: $gray, $amount: 40%);
        }
    }
}

.header-search {
    form {
        .search-btn {
            width:45px;
            background: $yellow;
            color: $dark;
        }
    }
    
} 

.dropdown.open {
    &>.user-dropdown {
        opacity: 1;
        visibility: visible;
    }
}

.header-ctn>div>a>.qty {
    background-color:$yellow;
    color:$dark;
}

.header-links li i {
    color: $yellow;
}

.aside {
    .price-desc {
        color: $gray;
        font-size:12px;
        padding: 4px 30px;
    }
}

.tab-content {
    table {
        width:70%;
        tr {
            td {
                color:$gray;
                font-size: 12px;
                padding:4px 0;
            }
            &>td:first-child {
                width:35%;
                padding-left:12px;
            }
        }
    }
}

.product-details {
    .product-options {
        .input-select {
            width:120px;
        }
    }
}

.login, #password-modal{
    margin-top: auto;
    margin-bottom: auto;
    .card-header {
        h3 {
            color:$white;
        }
    }

    .input-group {
        width:100%;
        margin-bottom:5px;
    }

    .input-group-addon {
        width: 50px;
        background-color: $dark;
        color: $white;
        border:0 !important;
    }

    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;
    }

    .login_btn{
        color: $white;
        background-color: $dark;
        display: inline-block;
    }

    .login_btn:hover{
        color: $dark;
        background-color: $yellow;
    }

    .links{
        color: white;
    }
        
    .links a{
        margin-left: 4px;
    }

    .help-block {
        @include text-error;
    }
}

#password-modal {
    .modal-header {
        background: #FBFBFC;
    }
}

.daftar {
    .help-block {
        @include text-error;
    }
}

.custom-input {
    margin-bottom:5px;
    span{
        float:left;
        height:34px;
        i {
            line-height: 1.8;
        }
    }

    select, input{
        border-radius:0px 5px 5px 0;
        width:50%;
    }
}

.shop {
    &:before, &:after{
        background:darken($indigo, 20%);
    }
}

.shop .shop-body .cta-btn {
    color: $yellow;
}

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
    color:darken($indigo, 20%);
}

.main-nav>li>a:after {
    background-color: $yellow;
}

#navigation {
    border-top: 3px solid $yellow;
}

#top-header, #header {
    background-color: darken($indigo, 20%);
}

.header-links li a:hover {
    color:$yellow;
}

.section-tab-nav li.active a {
    color:darken($indigo, 20%);
}

.section-tab-nav li a:after {
    background-color:$yellow;
}

.product .product-img .product-label>span.new {
    background-color:darken($indigo, 20%);
    border-color:darken($indigo, 20%);
    color: $yellow;
}


.product .product-img .product-label>span.sale {
    background-color:$white;
    border-color:$indigo;
    color: $dark;
    margin-right:3px;
}

.product .product-body .product-price {
    color:darken($indigo, 20%);
    font-size: 15px;
}

.product .product-body .product-rating>i.fa-star {
    color:darken($indigo, 20%);
}

.product .product-body .product-price .product-old-price {
    color:$gray;
}

#hot-deal.section {
    background-color: darken($indigo, 20%);
}

.primary-btn {
    background-color:darken($indigo, 20%);
    color: $yellow;
}

.hot-deal p {
    color:darken($indigo, 20%);
}

.product-widget .product-body .product-price {
    color:darken($indigo, 20%);
}

.product-widget .product-body .product-price .product-old-price {
    color:$yellow;
}

#footer {
    background:darken($indigo, 20%);
}

.footer-links li i {
    color:$yellow;
}

#bottom-footer {
    background: $yellow;
}

.copyright {
    color:$dark;
    font-weight: bold;
}

a:hover, a:focus {
    color:darken($indigo, 20%);
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background-color:darken($indigo, 20%);
    border-color:darken($indigo, 20%);    
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    color: $yellow;
}

.product .add-to-cart .add-to-cart-btn {
    background-color:darken($indigo, 20%);
    color:$yellow;
}

.noUi-connect {
    background-color:darken($indigo, 20%);
}

.noUi-horizontal .noUi-handle {
    background:$yellow;
}

.store-pagination li.active {
    background-color: darken($indigo, 20%);
    border-color: darken($indigo, 20%);
}

.product-details .product-price {
    color: darken($indigo, 20%);
}

.product-details .product-available {
    color: darken($indigo, 20%);
}

#product-imgs .product-preview.slick-current {
    border-color: darken($indigo, 20%);
}

.product-details .add-to-cart .add-to-cart-btn>i {
    color: $yellow;
}

.product-details .add-to-cart .add-to-cart-btn {
    background-color: darken($indigo, 20%);
    color: $yellow;
}

#product-tab .tab-nav li.active a {
    color: darken($indigo, 20%);
}

#product-tab .tab-nav li a:after {
    background-color: $yellow;
}

.product:hover .add-to-cart{
    box-shadow:0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px darken($indigo, 20%);
    padding: 8px 0;
}

.product .product-body .product-name>a:hover, .product .product-body .product-name>a:focus {
    color:darken($indigo, 20%);
}

.input-radio input[type="radio"]:checked+label span, .input-checkbox input[type="checkbox"]:checked+label span {
    background-color:darken($indigo, 20%);
    border-color:darken($indigo, 20%);
}

.order-summary .order-col .order-total {
    color:darken($indigo, 20%);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color:$yellow;
    background-color:darken($indigo, 20%);
}

.product .add-to-cart {
    padding:8px 10px;
}

.product .add-to-cart .add-to-cart-btn:hover, .product-details .add-to-cart .add-to-cart-btn:hover { 
    padding: 0 30px;
}



.store-filter {
    margin-top:50px;
    float:right;
}

.cart-dropdown .cart-btns>a:first-child {
    width:100%;
    color:$yellow;
    background-color:darken($indigo, 20%);
}

.qty-label > input {
    height: 40px;
    padding: 0 7px;
    margin-left: 7px;
}

.product-details .product-unavailable {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    color: #D10024;
}

.order-summary .order-col .order-total {
    font-size: 14px;
}

#estimasi, #shipping {
    font-weight: bold;
}

.order-details .order-submit {
    width:100%;
}

.order-details {
    margin-bottom:26px;
}

.cekout {
    .help-block {
        @include text-error;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

//livechat
.livesupport-btn {
    position: fixed;
    right: 86px;
    bottom: 0;

    a {
        width: 200px;
        background-color: $green;
        border: solid 1px $yellow;
        font-weight: bold;
        display: none;
        color: white;
        text-decoration: none;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0px 0px 0px 11px;
    }

    &a:hover {
        background-color: #6A9600;
        color: #fff;
    }

    
}

.livechatbanner .livesupportclose{
    position: absolute;
    right: 0;
    top: -15px;
    color: #b0b0b0 !important;
    background-color: transparent !important;
    display: block;
    border: none;
    width: 10px;

    .fa-times {
        color:black;
        border:1px solid black;
    }
}

.livechatbanner {
    background-image: url(/web/img/girlchat-btn.png);
    width: 220px;
    height: 192px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;

    .bubblespeech a {
        margin: 4px 7px 0 0;
        background-color: transparent;
        opacity: 0.1;
        border: none;
        height: 190px;
        display: block;
        width: 215px;
    }
}


#chatbox {
    display:none;

    .col-md-2, .col-md-10{
        padding:0;
    }

    .panel{
        margin-bottom: 0px;
    }

    .btn-sm {
        background-color:yellow;
        color:$dark;
        font-weight: bold;
    }

    .chat-window{
        bottom:0;
        right:0;
        position:fixed;
        float:right;

    }
    .chat-window > div > .panel{
        border-radius: 5px 5px 0 0;
    }
    .icon_minim{
        padding:2px 10px;
    }
    .msg_container_base{
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height:300px;
    overflow-x:hidden;
    }
    .top-bar {
    background: darken($indigo, 20%);
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
    }
    .msg_receive{
        padding-left:0;
        margin-left:0;
    }
    .msg_sent{
        padding-bottom:20px !important;
        margin-right:0;
    }
    .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
    }
    .messages > p {
        font-size: 13px;
        margin: 0 0 0.2rem 0;
    }
    .messages > time {
        font-size: 11px;
        color: #ccc;
    }
    .msg_container {
        padding: 10px;
        overflow: hidden;
        display: flex;
    }
    .chatimg {
        display: block;
        width: 100%;
    }
    .avatar {
        position: relative;
    }
    .base_receive > .avatar:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 5px solid #FFF;
        border-left-color: rgba(0, 0, 0, 0);
        border-bottom-color: rgba(0, 0, 0, 0);
    }

    .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
    }
    .base_sent > .avatar:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-right-color: transparent;
        border-top-color: transparent;
        box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }

    .fa-window-minimize, .fa-window-close, .fa-plus{
        color:white;
        margin: 0 5px;
    }

    .msg_sent > time{
        float: right;
    }

    .msg_container_base::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .msg_container_base::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    .msg_container_base::-webkit-scrollbar-thumb
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

    .btn-group.dropup{
        position:fixed;
        left:0px;
        bottom:0;
    }

    .panel-footer {
        padding: 10px 15px;
        background-color: darken($indigo, 20%);
        border:2px solid $white;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}